<div class="row">
    <div class="col-xs-18 col-md-12 questiontext" ng-if="slquizQuestionPaper.subject_id == '6'"
         ng-bind-html="thisCanBeusedInsideNgBindHtml">
    </div>
</div>
<div class="row">
    <div class="col-xs-18 col-md-12 questiontext" ng-if="slquizQuestionPaper.subject_id != '6'">
        {{question}}
        <div ng-show="showaudiotag">
            <audio controls>
                <source ng-src="{{questionaudiotext}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <center>
        <img ng-src="{{questionimage}}" style="width:70%"/>
    </center>
</div>
<br/>
<div class="row">
    <div class="col-xs-8 optiontext">
        <label class="radiocursor">1. &nbsp;&nbsp; <input type="radio" name="optradio" ng-model="slquizopt"
                                                          class="radiocursor" value="1"
                                                          ng-change="showSlquizNextButton()"> &nbsp; {{option1}}
        </label>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-8 optiontext">
        <label class="radiocursor">2. &nbsp;&nbsp; <input type="radio" name="optradio" ng-model="slquizopt"
                                                          class="radiocursor" value="2"
                                                          ng-change="showSlquizNextButton()"> &nbsp; {{option2}}
        </label>
    </div>
</div>
<hr/>
<button type="button" class="btn btn-warning" style="display:none;font-size: 120%;" ng-click="skipQuestionNumber()"
        id="skipbutton" ng-disabled="skipbtndisable">પછી કરીશ
</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-info" id="slquiznextbutton" style="display:none;font-size: 120%;"
        ng-click="loadQuestionAndOptions()">આગળ વધો
</button>