<div class="row m-auto">
    <div class="col-md-12">
        <div class="questiontext" ng-bind-html="thisCanBeusedInsideNgBindHtml"
             ng-if="slquizQuestionPaper.subject_id == '6'"></div>
        <div class="questiontext" ng-if="slquizQuestionPaper.subject_id != '6'">
            {{question}}
            <div ng-show="showaudiotag">
                <audio controls>
                    <source ng-src="{{questionaudiotext}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>

<div class="row m-auto">
    <div class="col-md-6 col-xs-6">
        <div class="optiontext pl-10">
            <label class="radiocursor">1. <input type="radio" name="optradio" ng-model="slquizopt" class="radiocursor" value="1" ng-change="showSlquizNextButton()"> <img ng-src="{{option1image}}" style="width:50%"/> </label>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="optiontext pl-10">
            <label class="radiocursor">2. <input type="radio" name="optradio" ng-model="slquizopt" class="radiocursor" value="2" ng-change="showSlquizNextButton()"> <img ng-src="{{option2image}}" style="width:50%"/> </label>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="optiontext pl-10">
            <label class="radiocursor">3. <input type="radio" name="optradio" ng-model="slquizopt" class="radiocursor" value="3" ng-change="showSlquizNextButton()"> <img ng-src="{{option3image}}" style="width:50%"/> </label>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="optiontext pl-10">
            <label class="radiocursor">4. <input type="radio" name="optradio" ng-model="slquizopt" class="radiocursor" value="4" ng-change="showSlquizNextButton()"> <img ng-src="{{option4image}}" style="width:50%"/> </label>
        </div>
    </div>
</div>

<div class="row m-auto">
    <div class="col-md-12">
        <button type="button" class="btn btn-warning" style="display:none;font-size: 120%;" ng-click="skipQuestionNumber()" id="skipbutton" ng-disabled="skipbtndisable">પછી કરીશ</button>&nbsp;&nbsp;
        &nbsp;<button type="button" class="btn btn-info" id="slquiznextbutton" style="display:none;font-size:120%;" ng-click="loadQuestionAndOptions()">આગળ વધો</button>
    </div>
</div>