<br>
<div class="row">
    <div class="col-md-3">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Selection Box</h1></div>
                <div class="panel-body">
                    <label>Standard</label>
                    <select class="form-control" ng-model="standard_data9" ng-options="std for std in standarddata9"
                            ng-change="getDivisionData9()"></select>

                    <label style="margin-top:6px">Division</label>
                    <select class="form-control" ng-model="division_data9"
                            ng-options="y.divid as y.divname.guj for y in divisiondata9"></select>

                    <button style="margin-top:6px" type="button" class="btn btn-primary" style="margin-top:6px"
                            ng-click="loadslearn9report()"
                            ng-if="standard_data9 != undefined && division_data9 != undefined">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" ng-if="showslearn9table || showerrromsg9">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Inactive Students List</div>
                <div class="panel-body">
                    <h4 class="text-center" ng-if="showerrromsg9">{{errorMsg}}</h4>
                    <div class="table-responsive">
                        <table  class="table table-striped table-bordered datatable nowrap"
                                ui-jq="dataTable"
                                ui-options="tableOption9" ng-if="showslearn9table">
                            <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Student Name</th>
                                <th>Student ID</th>
                                <th>Roll No.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="student in inActivestddata track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{student.fullname}}</td>
                                <td>{{student.studentid}}</td>
                                <td>{{student.rollno}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
