@font-face {
    font-family: "sLGujaratiFont";
    src: url('../libs/font/Shruti.ttf') format('truetype');
}

body {
    font-family: "sLGujaratiFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d5d8dc;
}

.questiontext {
    background-color: #F0E68C;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
