@font-face {
    font-family: "sLGujaratiFont";
    src: url('../libs/font/Shruti.ttf') format('truetype');
}

body {
    font-family: "sLGujaratiFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d5d8dc;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-attachment: fixed; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
}

.unit_content {
    margin-top: 10px;
    background-color: rgba(133,0,35,0.5);
    border-radius: 10px;
    width: 98%;
    padding-bottom: 15px;
}

.header {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.questiontext {
    background-color:#D1F2EB;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}

input[type=checkbox] {
    transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    -ms-transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -o-transform: scale(2.0, 2.0);
}

span {
    display: table-cell;
    vertical-align: middle;
}

.pb-2 {
    padding-bottom: 2px;
}

.pl-5{
    padding-left: 5px;
}

.pl-10{
    padding-left: 10px;
}

