<br>
<div class="row">
    <div class="col-md-3">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Selection Box</h1></div>
                <div class="panel-body">
                    <label>From Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate2"
                               is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close"
                               alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
						</span>
                    </p>

                    <label>To Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate2"
                               is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close"
                               alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open2()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
						</span>
                    </p>

                    <button type="button" class="btn btn-primary" style="margin-top:6px" ng-click="loadslate2report()"
                            ng-if="fromDate2 != undefined && toDate2 != undefined">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" ng-if="showslate2table">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Total Subject Usage</h1></div>
                <div class="panel-body">
                    <canvas id="bar" height="100" class="chart chart-bar" chart-data="data2" chart-labels="labels2"
                            chart-options="options2" chart-series="" chart-dataset-override="chartcolor2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
