@font-face {
    font-family: "sLGujaratiFont";
    src: url('../libs/font/Shruti.ttf') format('truetype');
}

body {
    font-family: "sLGujaratiFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.click {
    background-color: green;
    color: white;
}

.header {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.unit_content {
    margin-top: 10px;
    background-color: rgba(44, 53, 57, 0.2);
    border-radius: 10px;
    width: 90%;
}

.questiontext {
    background-color: #F5FA86;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.p-10 {
    padding: 10px;
    padding-bottom: 5px;
}

span {
    display: table-cell;
}

.pb-2 {
    padding-bottom: 2px;
}

.pl-5 {
    padding-left: 5px;
}

.table1 {
    background-color: #cabcbc;
    margin-top: 10px;
    font-size: 20px;
}

table tr td:hover {
    background-color: #F5DEB3;
    cursor: pointer;
}

.answer {
    background-color: burlywood;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 5px;
    padding-bottom: 0px;
}

